<% descriptions = get_descriptions() %>

## Data Dictionary (2018)

Data may be posted to describe each asset/building and provide an annual snapshot for the two years preceding the Assessment. For example, the 2018 Assessment asks for data from 2016 and 2017. The data types and validation rules for each field/metric are shown below.

**The following data is collected for each building/asset in the data:**

```json
{
  "buildings": [
    {
      "partners_id": "213412434",
      "asset_name": "The White House",
      "asset_address": "1600 Pennsylvania Avenue NW, Washington DC",
      "asset_country": "US",
      "asset_size": 1,
      "property_type": "OFF",
      "major_renovation": "N"
    }
  ]
}
```

<table>
  <thead>
    <tr>
      <th>Data Variable</th>
      <th>Data Type - Validation</th>
      <th>Description</th>
      <th>Units</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>partners_id</td>
      <td>Text - Required</td>
      <td><%= descriptions['partners_id'] %></td>
      <td><br>
      </td>
    </tr>
    <tr>
      <td>asset_name</td>
      <td>Text - Required</td>
      <td><%= descriptions['asset_name'] %></td>
      <td><br>
      </td>
    </tr>
    <tr>
      <td>asset_address</td>
      <td>Text</td>
      <td><%= descriptions['asset_address'] %></td>
      <td><br>
      </td>
    </tr>
    <tr>
      <td>asset_country</td>
      <td>Code</td>
      <td><%= descriptions['asset_country'] %></td>
      <td><br>
      </td>
    </tr>
    <tr>
      <td>asset_size</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['asset_size'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>property_type</td>
      <td>Code</td>
      <td><%= descriptions['property_type'] %></td>
      <td><br>
      </td>
    </tr>
    <tr>
      <td>major_renovation</td>
      <td>[ 'Y', 'N', null ]</td>
      <td><%= descriptions['major_renovation'] %></td>
      <td></td>
    </tr>
  </tbody>
</table>

**The following data is collected for the most recent year only.** For example, for 2018, this data is reported under the
"2017" `survey_data` only:

```json
{
  "buildings": [
    {
      "partners_id": "213412434",
      "survey_data": {
        "2017": {
          "asset_const_year": 1792,
          "asset_gav": 999,
          "asset_size_commom": 0,
          "asset_size_shared": 0,
          "asset_size_tenant_tenant": 0,
          "asset_size_tenant_landlord": 0
        }
      }
    }
  ]
}
```

<table>
  <tbody>
    <tr>
      <td>asset_const_year</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['asset_const_year'] %></td>
      <td><br>
      </td>
    </tr>
    <tr>
      <td>asset_gav</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['asset_gav'] %></td>
      <td>M</td>
    </tr>
    <tr>
      <td>asset_size_common</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['asset_size_common'] %></td>
      <td>m²|sqft<br>
      </td>
    </tr>
    <tr>
      <td>asset_size_shared</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['asset_size_shared'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>asset_size_tenant_tenant</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['asset_size_tenant_tenant'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>asset_size_tenant_landlord</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['asset_size_tenant_landlord'] %></td>
      <td>m²|sqft</td>
    </tr>
  </tbody>
</table>

**The following data is collected for each of the previous two years.** Except for the coverage and maximum coverage in the performance indicators (en/ghg/wat), where the area is only reported for `survey_data` 2017.

<table>
  <tbody>
    <tr>
      <td>asset_vacancy</td>
      <td>0 ≤ x ≤ 100</td>
      <td><%= descriptions['asset_vacancy'] %></td>
      <td>%</td>
    </tr>
    <tr>
      <td>asset_own</td>
      <td>0 ≤ x ≤ 12. Integer</td>
      <td><%= descriptions['asset_own'] %></td>
      <td></td>
    </tr>
    <tr>
      <td>en_man_bcf_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bcf_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_bcf_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bcf_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_bcf_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bcf_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_bcd_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bcd_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_bcd_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bcd_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_bcd_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bcd_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_bce_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bce_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_bce_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bce_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_bce_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bce_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_bsf_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bsf_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_bsf_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bsf_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_bsf_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bsf_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_bsd_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bsd_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_bsd_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bsd_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_bsd_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bsd_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_bse_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bse_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_bse_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bse_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_bse_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bse_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_bof_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bof_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_boe_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_boe_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_tlf_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_tlf_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_tlf_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_tlf_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_tlf_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_tlf_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_tld_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_tld_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_tld_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_tld_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_tld_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_tld_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_tle_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_tle_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_tle_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_tle_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_tle_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_tle_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_ttf_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_ttf_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_ttf_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_ttf_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_ttf_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_ttf_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_ttd_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_ttd_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_ttd_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_ttd_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_ttd_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_ttd_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_tte_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_tte_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_tte_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_tte_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_tte_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_tte_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_wcf_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_wcf_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_wcf_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_wcf_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_wcf_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_wcf_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_wcd_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_wcd_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_wcd_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_wcd_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_wcd_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_wcd_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_wce_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_wce_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_wce_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_wce_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_wce_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_wce_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_ind_wwf_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_ind_wwf_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_ind_wwf_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_ind_wwf_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_ind_wwf_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_ind_wwf_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_ind_wwd_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_ind_wwd_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_ind_wwd_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_ind_wwd_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_ind_wwd_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_ind_wwd_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_ind_wwe_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_ind_wwe_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_ind_wwe_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_ind_wwe_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_ind_wwe_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_ind_wwe_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_ind_wof_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_ind_wof_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_ind_woe_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_ind_woe_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>ghg_s1_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['ghg_s1_abs'] %></td>
      <td>tonnes</td>
    </tr>
    <tr>
      <td>ghg_s1_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['ghg_s1_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>ghg_s1_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['ghg_s1_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>ghg_s2_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['ghg_s2_abs'] %></td>
      <td>tonnes</td>
    </tr>
    <tr>
      <td>ghg_s2_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['ghg_s2_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>ghg_s2_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['ghg_s2_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>ghg_s3_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['ghg_s3_abs'] %></td>
      <td>tonnes</td>
    </tr>
    <tr>
      <td>ghg_s3_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['ghg_s3_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>ghg_s3_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['ghg_s3_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>ghg_offset_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['ghg_offset_abs'] %></td>
      <td>tonnes</td>
    </tr>
    <tr>
      <td>ghg_net_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['ghg_net_abs'] %></td>
      <td>tonnes</td>
    </tr>
    <tr>
      <td>wat_man_bc_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_bc_abs'] %></td>
      <td>m³</td>
    </tr>
    <tr>
      <td>wat_man_bc_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_bc_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>wat_man_bc_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_bc_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>wat_man_bs_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_bs_abs'] %></td>
      <td>m³</td>
    </tr>
    <tr>
      <td>wat_man_bs_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_bs_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>wat_man_bs_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_bs_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>wat_man_bo_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_bo_abs'] %></td>
      <td>m³</td>
    </tr>
    <tr>
      <td>wat_man_tl_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_tl_abs'] %></td>
      <td>m³</td>
    </tr>
    <tr>
      <td>wat_man_tl_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_tl_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>wat_man_tl_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_tl_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>wat_man_tt_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_tt_abs'] %></td>
      <td>m³</td>
    </tr>
    <tr>
      <td>wat_man_tt_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_tt_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>wat_man_tt_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_tt_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>wat_man_wc_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_wc_abs'] %></td>
      <td>m³</td>
    </tr>
    <tr>
      <td>wat_man_wc_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_wc_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>wat_man_wc_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_wc_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>wat_ind_ww_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_ind_ww_abs'] %></td>
      <td>m³</td>
    </tr>
    <tr>
      <td>wat_ind_ww_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_ind_ww_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>wat_ind_ww_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_ind_ww_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>wat_ind_wo_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_ind_wo_abs'] %></td>
      <td>m³</td>
    </tr>
    <tr>
      <td>was_man_haz_abs</td>
      <td>x ≥ 0</td>
      <td><%= descriptions['was_man_haz_abs'] %></td>
      <td>tonnes</td>
    </tr>
    <tr>
      <td>was_man_nhaz_abs</td>
      <td>x ≥ 0</td>
      <td><%= descriptions['was_man_nhaz_abs'] %></td>
      <td>tonnes</td>
    </tr>
    <tr>
      <td>was_man_perc</td>
      <td>0 &lt; x ≤ 100</td>
      <td><%= descriptions['was_man_perc'] %></td>
      <td>%</td>
    </tr>
    <tr>
      <td>was_ind_haz_abs</td>
      <td>x ≥ 0</td>
      <td><%= descriptions['was_ind_haz_abs'] %></td>
      <td>tonnes</td>
    </tr>
    <tr>
      <td>was_ind_nhaz_abs</td>
      <td>x ≥ 0</td>
      <td><%= descriptions['was_ind_nhaz_abs'] %></td>
      <td>tonnes</td>
    </tr>
    <tr>
      <td>was_ind_perc</td>
      <td>0 &lt; x ≤ 100</td>
      <td><%= descriptions['was_ind_perc'] %></td>
      <td>%</td>
    </tr>
    <tr>
      <td>was_i_perc</td>
      <td>0 ≤ x ≤ 100</td>
      <td><%= descriptions['was_i_perc'] %></td>
      <td>%</td>
    </tr>
    <tr>
      <td>was_l_perc</td>
      <td>0 ≤ x ≤ 100</td>
      <td><%= descriptions['was_l_perc'] %></td>
      <td>%</td>
    </tr>
    <tr>
      <td>was_wd_perc</td>
      <td>0 ≤ x ≤ 100</td>
      <td><%= descriptions['was_wd_perc'] %></td>
      <td>%</td>
    </tr>
    <tr>
      <td>was_dwe_perc</td>
      <td>0 ≤ x ≤ 100</td>
      <td><%= descriptions['was_dwe_perc'] %></td>
      <td>%</td>
    </tr>
    <tr>
      <td>was_dr_perc</td>
      <td>0 ≤ x ≤ 100</td>
      <td><%= descriptions['was_dr_perc'] %></td>
      <td>%</td>
    </tr>
    <tr>
      <td>was_do_perc</td>
      <td>0 ≤ x ≤ 100</td>
      <td><%= descriptions['was_do_perc'] %></td>
      <td>%</td>
    </tr>
    <tr>
      <td>was_oth_perc</td>
      <td>0 ≤ x ≤ 100</td>
      <td><%= descriptions['was_oth_perc'] %></td>
      <td>%</td>
    </tr>
  </tbody>
</table>

**Complete list:**

<table>
  <thead>
    <tr>
      <th>Data Variable</th>
      <th>Data Type - Validation</th>
      <th>Description</th>
      <th>Units</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>partners_id</td>
      <td>Text - Required</td>
      <td><%= descriptions['partners_id'] %></td>
      <td></td>
    </tr>
    <tr>
      <td>asset_name</td>
      <td>Text - Required</td>
      <td><%= descriptions['asset_name'] %></td>
      <td></td>
    </tr>
    <tr>
      <td>property_type</td>
      <td>Code</td>
      <td><%= descriptions['property_type'] %></td>
      <td></td>
    </tr>
    <tr>
      <td>asset_address</td>
      <td>Text</td>
      <td><%= descriptions['asset_address'] %></td>
      <td></td>
    </tr>
    <tr>
      <td>asset_country</td>
      <td>Code</td>
      <td><%= descriptions['asset_country'] %></td>
      <td></td>
    </tr>
    <tr>
      <td>asset_const_year</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['asset_const_year'] %></td>
      <td></td>
    </tr>
    <tr>
      <td>asset_vacancy</td>
      <td>0 ≤ x ≤ 100</td>
      <td><%= descriptions['asset_vacancy'] %></td>
      <td>%</td>
    </tr>
    <tr>
      <td>asset_gav</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['asset_gav'] %></td>
      <td>M</td>
    </tr>
    <tr>
      <td>asset_size_common</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['asset_size_common'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>asset_size_shared</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['asset_size_shared'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>asset_size_tenant_tenant</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['asset_size_tenant_tenant'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>asset_size_tenant_landlord</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['asset_size_tenant_landlord'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>asset_size</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['asset_size'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>asset_own</td>
      <td>0 ≤ x ≤ 12. Integer</td>
      <td><%= descriptions['asset_own'] %></td>
      <td></td>
    </tr>
    <tr>
      <td>major_renovation</td>
      <td>[ 'Y', 'N', null ]</td>
      <td><%= descriptions['major_renovation'] %></td>
      <td></td>
    </tr>
    <tr>
      <td>en_man_bcf_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bcf_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_bcf_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bcf_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_bcf_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bcf_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_bcd_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bcd_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_bcd_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bcd_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_bcd_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bcd_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_bce_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bce_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_bce_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bce_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_bce_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bce_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_bsf_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bsf_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_bsf_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bsf_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_bsf_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bsf_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_bsd_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bsd_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_bsd_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bsd_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_bsd_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bsd_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_bse_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bse_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_bse_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bse_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_bse_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bse_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_bof_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_bof_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_boe_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_boe_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_tlf_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_tlf_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_tlf_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_tlf_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_tlf_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_tlf_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_tld_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_tld_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_tld_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_tld_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_tld_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_tld_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_tle_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_tle_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_tle_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_tle_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_tle_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_tle_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_ttf_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_ttf_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_ttf_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_ttf_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_ttf_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_ttf_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_ttd_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_ttd_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_ttd_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_ttd_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_ttd_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_ttd_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_tte_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_tte_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_tte_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_tte_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_tte_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_tte_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_wcf_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_wcf_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_wcf_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_wcf_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_wcf_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_wcf_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_wcd_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_wcd_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_wcd_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_wcd_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_wcd_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_wcd_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_wce_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_wce_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_man_wce_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_wce_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_man_wce_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_man_wce_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_ind_wwf_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_ind_wwf_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_ind_wwf_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_ind_wwf_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_ind_wwf_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_ind_wwf_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_ind_wwd_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_ind_wwd_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_ind_wwd_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_ind_wwd_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_ind_wwd_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_ind_wwd_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_ind_wwe_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_ind_wwe_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_ind_wwe_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_ind_wwe_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_ind_wwe_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_ind_wwe_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>en_ind_wof_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_ind_wof_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>en_ind_woe_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['en_ind_woe_abs'] %></td>
      <td>kWh</td>
    </tr>
    <tr>
      <td>ghg_s1_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['ghg_s1_abs'] %></td>
      <td>tonnes</td>
    </tr>
    <tr>
      <td>ghg_s1_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['ghg_s1_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>ghg_s1_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['ghg_s1_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>ghg_s2_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['ghg_s2_abs'] %></td>
      <td>tonnes</td>
    </tr>
    <tr>
      <td>ghg_s2_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['ghg_s2_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>ghg_s2_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['ghg_s2_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>ghg_s3_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['ghg_s3_abs'] %></td>
      <td>tonnes</td>
    </tr>
    <tr>
      <td>ghg_s3_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['ghg_s3_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>ghg_s3_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['ghg_s3_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>ghg_offset_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['ghg_offset_abs'] %></td>
      <td>tonnes</td>
    </tr>
    <tr>
      <td>ghg_net_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['ghg_net_abs'] %></td>
      <td>tonnes</td>
    </tr>
    <tr>
      <td>wat_man_bc_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_bc_abs'] %></td>
      <td>m³</td>
    </tr>
    <tr>
      <td>wat_man_bc_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_bc_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>wat_man_bc_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_bc_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>wat_man_bs_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_bs_abs'] %></td>
      <td>m³</td>
    </tr>
    <tr>
      <td>wat_man_bs_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_bs_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>wat_man_bs_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_bs_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>wat_man_bo_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_bo_abs'] %></td>
      <td>m³</td>
    </tr>
    <tr>
      <td>wat_man_tl_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_tl_abs'] %></td>
      <td>m³</td>
    </tr>
    <tr>
      <td>wat_man_tl_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_tl_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>wat_man_tl_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_tl_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>wat_man_tt_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_tt_abs'] %></td>
      <td>m³</td>
    </tr>
    <tr>
      <td>wat_man_tt_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_tt_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>wat_man_tt_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_tt_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>wat_man_wc_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_wc_abs'] %></td>
      <td>m³</td>
    </tr>
    <tr>
      <td>wat_man_wc_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_wc_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>wat_man_wc_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_man_wc_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>wat_ind_ww_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_ind_ww_abs'] %></td>
      <td>m³</td>
    </tr>
    <tr>
      <td>wat_ind_ww_cov</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_ind_ww_cov'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>wat_ind_ww_tot</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_ind_ww_tot'] %></td>
      <td>m²|sqft</td>
    </tr>
    <tr>
      <td>wat_ind_wo_abs</td>
      <td>x &gt; 0</td>
      <td><%= descriptions['wat_ind_wo_abs'] %></td>
      <td>m³</td>
    </tr>
    <tr>
      <td>was_man_haz_abs</td>
      <td>x ≥ 0</td>
      <td><%= descriptions['was_man_haz_abs'] %></td>
      <td>tonnes</td>
    </tr>
    <tr>
      <td>was_man_nhaz_abs</td>
      <td>x ≥ 0</td>
      <td><%= descriptions['was_man_nhaz_abs'] %></td>
      <td>tonnes</td>
    </tr>
    <tr>
      <td>was_man_perc</td>
      <td>0 &lt; x ≤ 100</td>
      <td><%= descriptions['was_man_perc'] %></td>
      <td>%</td>
    </tr>
    <tr>
      <td>was_ind_haz_abs</td>
      <td>x ≥ 0</td>
      <td><%= descriptions['was_ind_haz_abs'] %></td>
      <td>tonnes</td>
    </tr>
    <tr>
      <td>was_ind_nhaz_abs</td>
      <td>x ≥ 0</td>
      <td><%= descriptions['was_ind_nhaz_abs'] %></td>
      <td>tonnes</td>
    </tr>
    <tr>
      <td>was_ind_perc</td>
      <td>0 &lt; x ≤ 100</td>
      <td><%= descriptions['was_ind_perc'] %></td>
      <td>%</td>
    </tr>
    <tr>
      <td>was_i_perc</td>
      <td>0 ≤ x ≤ 100</td>
      <td><%= descriptions['was_i_perc'] %></td>
      <td>%</td>
    </tr>
    <tr>
      <td>was_l_perc</td>
      <td>0 ≤ x ≤ 100</td>
      <td><%= descriptions['was_l_perc'] %></td>
      <td>%</td>
    </tr>
    <tr>
      <td>was_wd_perc</td>
      <td>0 ≤ x ≤ 100</td>
      <td><%= descriptions['was_wd_perc'] %></td>
      <td>%</td>
    </tr>
    <tr>
      <td>was_dwe_perc</td>
      <td>0 ≤ x ≤ 100</td>
      <td><%= descriptions['was_dwe_perc'] %></td>
      <td>%</td>
    </tr>
    <tr>
      <td>was_dr_perc</td>
      <td>0 ≤ x ≤ 100</td>
      <td><%= descriptions['was_dr_perc'] %></td>
      <td>%</td>
    </tr>
    <tr>
      <td>was_do_perc</td>
      <td>0 ≤ x ≤ 100</td>
      <td><%= descriptions['was_do_perc'] %></td>
      <td>%</td>
    </tr>
    <tr>
      <td>was_oth_perc</td>
      <td>0 ≤ x ≤ 100</td>
      <td><%= descriptions['was_oth_perc'] %></td>
      <td>%</td>
    </tr>
  </tbody>
</table>
