<table>
  <thead>
    <tr>
      <th>Property type</th>
      <th>Energy intensity range</th>
      <th>GHG intensity range</th>
      <th>Water intensity range</th>
      <th>Waste intensity range</th>
    </tr>
  </thead>
  <tbody>
    <% data.thresholds.property_types.each do |pt, ranges| %>
    <tr>
      <td><%= pt %></td>
      <td><%= ranges.energy[0] %> &ndash; <%= ranges.energy[1] %> <%= data.thresholds.units.energy %></td>
      <td><%= ranges.ghg[0] %> &ndash; <%= ranges.ghg[1] %> <%= data.thresholds.units.ghg %></td>
      <td><%= ranges.water[0] %> &ndash; <%= ranges.water[1] %> <%= data.thresholds.units.water %></td>
      <td><%= ranges.waste[0] %> &ndash; <%= ranges.waste[1] %> <%= data.thresholds.units.waste %></td>
    </tr>
    <% end %>
  </tbody>
</table>
